# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log

# Coverage
coverage/

# Cache
.cache/

# OS
Thumbs.db
.DS_Store

# VSCode
.vscode/

# TypeScript
*.tsbuildinfo

# Tests
src/tests/

# Generated
generated/

